/* src/styles/globals.css */

:root {
  --bg-primary: rgb(7, 9, 15);
  --bg-secondary: rgb(16, 21, 31);
  --bg-tertiary: rgb(25, 33, 47);
  --text-primary: rgb(255, 255, 255);
  --text-secondary: rgb(204, 214, 224);
  --border: rgb(40, 44, 66);
  --add-bg: rgb(20, 134, 81);

  --accent: rgb(40, 120, 220);
  --accent-hover: rgb(30, 95, 175);
  --accent-border: rgb(70, 145, 245);
  --accent-glow: rgb(90, 170, 255);

  --success: rgb(30, 120, 60);
  --success-hover: rgb(25, 95, 50);
  --success-border: rgb(60, 170, 90);
  --success-glow: rgb(80, 200, 110);

  --danger: rgb(190, 50, 50);
  --danger-hover: rgb(150, 40, 40);
  --danger-border: rgb(220, 80, 80);
  --danger-glow: rgb(255, 100, 100);

  --critical: rgb(120, 20, 30);
  --critical-hover: rgb(100, 15, 25);
  --critical-border: rgb(128, 22, 31);
  --critical-glow: rgb(255, 60, 70);

  --bg-secondary-flash: rgb(40, 50, 70);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter' ,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  scrollbar-width: auto;
  scrollbar-color: var(--border) var(--bg-primary);
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  line-height: 1.6;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background: var(--bg-primary);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 4px;
  border: 2px solid var(--bg-primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-hover);
}

::-webkit-scrollbar-corner {
  background: var(--bg-primary);
}